#home {
    width: 100%;
    height: 620px;
    background-image: url("/Images/Box_Cricket_LandingPage.jpg");
    background-size: cover;
    background-position: center;
    transition: all 1s ease-in-out;
    background-repeat: no-repeat;
    /* opacity: 80%; */
    filter: grayscale(30%);
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  #home:hover {
    background-position: bottom;
    transition: all 1s ease-in-out;
  }
  
  .landing {
    position: absolute;
    top: 33%;
    left: 50%;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 56px;
    text-align: center;
    font-weight: bold;
    transform: translate(-50%, -50%);
  }
  
  .landing label  {
    display: inline-block;
    margin-right: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1);
  }
  
  .landing label:hover span {
    color: rgb(22, 61, 82);
    transform: translateY(-30px);
  }
  
  #home .book-now {
    margin-top: 50px;
    padding: 8px;
    width: 140px;
    height: 39px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5%;
    font-size: 20px;
  }
  
  #home .book-now:hover {
    background-color: rgb(22, 61, 82);
    transition: transform 3s ease-in;
  }
  @media (max-width: 1150px) {
    .landing label span {
      transition: none; 
    }
  
    .landing label:hover span {
      color: inherit;
      transform: none;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1150px) {
    .landing {
      top: 33%;
      height: 180px;
      padding: 10px;
      font-size: 46px;
    }
    #home .book-now {
      margin-top: 65px;
    }
  }
  @media (min-width: 770px) and (max-width: 900px) {
    .landing {
      top: 33%;
      height: 180px;
      padding: 20px;
      font-size: 48px;
    }
    #home .book-now {
      margin-top: 60px;
      padding: 8px;
      width: 140px;
      height: 39px;
      color: white;
      background-color: green;
      border: none;
      border-radius: 5%;
      font-size: 20px;
    }
  }
  
  @media (min-width: 600px) and (max-width: 770px) {
    .landing {
      top: 33%;
      height: 200px;
      font-size: 37px;
      padding: 15px;
    }
    nav .logo {
      font-size: 28px;
    }
  }
  
  @media (min-width: 500px) and (max-width: 600px) {
    .landing {
      top: 33%;
      padding: 5px;
      height: 140px;
      font-size: 32px;
    }
  }
  
  @media (min-width: 320px) and (max-width: 500px) {
    .landing {
      padding: 5px;
      top: 33%;
      height: 100px;
      font-size: 28px;
    }
  }