.services {
  margin-top: 20px;
  width: 100%;
}

.services .services-head {
  padding-left: 30px;
  font-size: 40px;
  font-weight: 800;
}

.services .services-section {
  margin: 30px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.services .services-section .services-card {
  width: 100%;
  border: 10% 0 10% 0;
  box-shadow: -10px 17px 46px -25px rgba(0, 0, 0, 0.68);
}

.services-card .card-image {
  width: 100%;
  height: 25vh;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.services .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px;
  text-align: center;
}

@media (min-width: 900px) and (max-width: 1050px) {
  .services .services-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .services .services-card .card-content {
    padding: 8px;
    text-align: center;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  .services .services-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .services .services-head {
    text-align: center;
  }
  .services .services-card .card-content {
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 550px) and (max-width: 750px) {
  .services .services-head {
    text-align: center;
  }
  .services .services-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services-card .card-content h3 {
    margin: 5px;
    font-size: 18px;
  }
  .services-card .card-content p {
    margin: 5px;
    font-size: 15px;
  }
}

@media (min-width: 450px) and (max-width: 550px) {
  .services .services-card .card-image {
    height: 30vh;
  }
  .services .services-head {
    padding: 15px;
    text-align: center;
    font-size: 40px;
  }
  .services .services-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
  }
  .services-card .card-content {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .services .services-head {
    padding: 5px;
    text-align: center;
    font-size: 30px;
  }
  .services .services-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .services-card .card-content h3 {
    font-size: 16px;
  }
  .services-card .card-content p {
    margin: 5px;
    font-size: 14px;
  }
}
